/* This is for the styling off the html page */

body {

    background-color:  :
}

h1 {
    color: aqua
}

h2 {

    color: darkred
}

h3{
    color: springgreen
}


h4 {
    color: yellow
}

h5 {
    color: fuchsia
}

.p1 {font-family: cursive}

.p2 {font-family: Georgia, 'Times New Roman', Times, serif}

.p3 {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}

.p4 {font-family: Verdana, Geneva, Tahoma, sans-serif}